{% load static %}
{% load humanize %}
{% url 'search' as search %}
{% url 'products:categorie' as categorie %}



    <!-- Start Header Area -->
    <header class="header-section d-none d-xl-block">
        <div class="header-wrapper">
            <div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Start Header Logo -->
                            <div class="header-logo">
                                <div class="logo">
                                    <a href="/" aria-label="logo">
                                        <img src="{% static 'assets/images/logo/logo.png' %}" alt="IT-SERVICE" loading="lazy" width="50px" height="50px">
                                    </a>
                                </div>
                            </div>
                            <!-- End Header Logo -->

                            <!-- Start Header Main Menu -->
                            <div class="main-menu menu-color--black menu-hover-color--golden">
                                <nav>
                                    <ul>
                                        <li class="has-dropdown">
                                            <a {% if request.path == '/' %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="/">Accueil</a>
                                            
                                        </li>
                                        <li class="has-dropdown has-megaitem">
                                            <a {% if 'shop'  in request.path %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="{% url 'shop:main' %}">Boutique </a>
                                        </li>
                                        <li class="has-dropdown">
                                            <a {% if 'blog' in request.path %} class="active main-menu-link" style="color:#B19361;" {% else %} {% endif %} href="{% url 'blog:main' %}">Blog</a>
                                        </li>
                                        
                                        <li>
                                            <a {% if 'about-us' in request.path %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="{% url 'about:main' %}">A propos</a>
                                        </li>
                                        <li>
                                            <a {% if 'contact' in request.path %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="{% url 'contact:main' %}">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Header Main Menu Start -->

                            <!-- Start Header Action Link -->
                            <ul class="header-action-link action-color--black action-hover-color--golden">
                                <li>
                                    <a href="#search">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'account:logout' %}">
                                        <ion-icon name="log-out-outline"></ion-icon>

                                        {% comment %} <span class="item-count">3</span> {% endcomment %}
                                    </a>
                                </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'account:login' %}" >
                                            <ion-icon name="person-outline"></ion-icon>
                                            {% comment %} <span class="item-count">3</span> {% endcomment %}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <!-- <a href="#offcanvas-add-cart" class="offcanvas-toggle"> -->
                                    <a href="{% url 'cart:main' %}">
                                        <i class="icon-bag"></i>
                                        
                                        <span class="item-count navbar-cart-count">
                                            {% if request.session.cart_items %}
                                            {{ request.session.cart_items }}                                      
                                            {% else %}
                                                0
                                            {% endif %} 
                                        </span>
                                    </a>
                                </li>

                                
                            </ul>
                            <!-- End Header Action Link -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Start Header Area -->

    <!-- Start Mobile Header -->
    <div class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-between">
                    <!-- Start Mobile Left Side -->
                    <div class="mobile-header-left">
                        <ul class="mobile-menu-logo">
                            <li>
                                <a href="/">
                                        
                                    <img src="{% static 'assets/images/logo/logo.png' %}" alt="IT-SERVICE" loading="lazy" width="80px" height="80px">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Mobile Left Side -->

                    <!-- Start Mobile Right Side -->
                    <div class="mobile-right-side">
                        <ul class="header-action-link action-color--black action-hover-color--golden">
                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'account:logout' %}">
                                        <ion-icon name="log-out-outline"></ion-icon>

                                        {% comment %} <span class="item-count">3</span> {% endcomment %}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'account:login' %}" >
                                        <ion-icon name="person-outline"></ion-icon>
                                        {% comment %} <span class="item-count">3</span> {% endcomment %}
                                    </a>
                                </li>
                            {% endif %}
                            
                            <li>
                                <a href="{% url 'cart:main' %}" id="basket-qty">
                                    <i class="icon-bag"></i>
                                    <span class="item-count navbar-cart-count">
                                        {% if request.session.cart_items %}
                                            {{ request.session.cart_items }}                                      
                                        {% else %}
                                            0
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                    <i class="icon-menu"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Mobile Right Side -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Mobile Header -->

    <!--  Start Offcanvas Mobile Menu Section -->
    <div id="mobile-menu-offcanvas" class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- End Offcanvas Header -->
        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <div class="offcanvas-mobile-menu-wrapper">
            <!-- Start Mobile Menu  -->
            <div class="mobile-menu-bottom">
                <!-- Start Mobile Menu Nav -->
                <div class="offcanvas-menu">
                    <ul>
                        <li>
                            <a {% if request.path == '/' %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="/"><span>Accueil</span></a>
                        </li>
                        <li>
                            <a {% if 'shop' in request.path  %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="{% url 'shop:main' %}"><span>Boutique</span></a>
                        </li>
                        <li>
                            <a {% if 'blog' in request.path %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="{% url 'blog:main' %}"><span>Blog</span></a> 
                        </li>
                        
                        <li>
                            <a {% if 'about-us' in request.path  %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="{% url 'about:main' %}" >A propos</a>
                        </li>
                        <li>
                            <a {% if 'contact' in request.path  %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="{% url 'contact:main' %}">Contact</a>
                        </li>
                    </ul>
                </div> <!-- End Mobile Menu Nav -->
            </div> <!-- End Mobile Menu -->

            <!-- Start Mobile contact Info -->
            <div class="mobile-contact-info">
                <div class="logo">
                    <a href="/">
                        IT-SERVICES
                    </a>
                </div>

                <address class="address">
                    <span>{{ links.address|safe|capfirst }}</span>
                    <span>{{ links.phone_number }}</span>
                    <span>{{ links.email }}</span>
                </address>

                <ul class="social-link">
                    {% if links.facebook %}
                        
                    <li><a href="{{ links.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    
                    {% if links.twitter %}
                        
                    <li><a href="{{ links.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                   
                    {% if links.instagram %}
                        
                    <li><a href="{{ links.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    {% endif %}
                    
                </ul>

                <ul class="user-link">
                    <li><a {% if 'cart' in  request.path %} class="active main-menu-link" style="color:#B19361;" {% endif %} href="{% url 'cart:main' %}">panier</a></li>
                </ul>
            </div>
            <!-- End Mobile contact Info -->

        </div> <!-- End Offcanvas Mobile Menu Wrapper -->
    </div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!-- Start Offcanvas Search Bar Section -->
    <div id="search" class="search-modal">
        <button type="button" class="close">×</button>
        <form action="{% url 'search:query' %}" method="GET" class="search-form">
            <input type="search" placeholder="Chercher un article..." name='q' value="{{request.GET.q}}" required/>
            <button type="submit" class="btn btn-lg btn-golden">Chercher</button>
        </form>
    </div>
    <!-- End Offcanvas Search Bar Section -->

    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

